@import '../../assets/theme.scss';

// Include the base styles for Angular Material core. We include this here so that you only
// have to load a single css file for Angular Material in your app.
@include mat-core();

.app-title {
  font: 50px arial, sans-serif;
  font-weight: bold;
}

.toolbar {
  background-color: mat-color($scavngr-accent);
  padding:10px;
}